// COLORS

    // PRIMARY
    $white: #F6F6F6; 
    $black: #2e2e2e;

    //SECONDARY 
    $blue: #345F98;  
    $light-blue: #4E91E4;
    $orange: #FDAD0D;
    

// FONT SIZES

$font-xxl:  5rem;         // 80px
$font-xl:   3.5rem;      // 56px
$font-l:    2rem;        // 32px
$font-m:    1.75rem;     // 28px
$font-s:    1rem;        // 16px
$font-xs:   0.875rem;    // 14px



